.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.input-container-url {
    width: 268px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.label {
    font-size: 12px;
    font-weight: 500;
    color: #5b5f63;
    margin: 10px 0;
}

.label-url {
    display: flex;
    align-self: flex-start;
    font-size: 12px;
    font-weight: 500;
    color: #5b5f63;
    margin: 10px 0;
}

.label-data::after {
    content: attr(data-domain);
    position: absolute;
    top: 52%;
    left: 0;
    font-size: 12px;
    display: block;
    color: #b3b6bf;
    background-color: #e9eef5;
    padding: 8px 4px;
    border-radius: 2px;
    border: 1px solid #f2f2f3;
    font-weight: 400;
}

.input-url {
    width: 150px;
    padding: 8px;
    border-radius: 2px;
    outline: 0;
    border: 1px solid #f2f2f3;
}

.input-url::placeholder {
    color: #b3b6bf;
}

.input {
    width: 250px;
    padding: 8px;
    border-radius: 2px;
    outline: 0;
    border: 1px solid #f2f2f3;
}

.input::placeholder {
    color: #b3b6bf;
}